Customer Support Q&A Bot (n8n)_hablu.json
{
  "name": "Customer Support Q&A Bot (n8n)_hablu",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1v7ouzD_dDTjWX_ywx_L8O5ll60cgHHci",
          "mode": "list",
          "cachedResultName": "ml",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1v7ouzD_dDTjWX_ywx_L8O5ll60cgHHci"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "86214ea7-ae91-4e19-83bb-066fa93146d0",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "MYCLrbC556vatklZ",
          "name": "latest 1"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        224,
        0
      ],
      "id": "fb9b4175-5ee2-4234-ba22-4bd3dd9b5c22",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "MYCLrbC556vatklZ",
          "name": "latest 1"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "mnk",
          "mode": "list",
          "cachedResultName": "mnk"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        448,
        0
      ],
      "id": "c45abf50-7881-4fb9-bd67-e371236b7b4f",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "PNEfD3B9Ekq2AdV6",
          "name": "ri"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        456,
        224
      ],
      "id": "40b2e5de-6b77-4bf3-b29a-70ff452e8bb7",
      "name": "Embeddings Google Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "ZwBzOzlOZzcXo8vQ",
          "name": "Google Gemini(PaLM) Api account 721"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        584,
        224
      ],
      "id": "75a98622-6473-4a5a-af88-d6df99fe9422",
      "name": "Default Data Loader"
    }
  ],
  "pinData": {},
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "executionTimeout": -1,
    "availableInMCP": false
  },
  "versionId": "cb6c02dd-aead-4270-af1a-37b6379f2cd2",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "8aa7a6b00703250dcbefcb510baac06d8bd02203b4f9c49a6f275db8e3adde34"
  },
  "id": "U5MVOKcDBi1BT7dT",
  "tags": []
}