Massenger Agent.json
{
  "name": "Massenger Agent",
  "nodes": [
    {
      "parameters": {
        "multipleMethods": true,
        "path": "messengerchatbotpart1",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        -32
      ],
      "id": "4f3bd175-74e1-4935-98a8-88b599f16059",
      "name": "Webhook",
      "webhookId": "49e9cbf9-2937-456a-a88b-b179fa9aca37"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.query[\"hub.challenge\"] }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        224,
        -128
      ],
      "id": "0f4d59ca-dfa0-4650-af0b-71275dc7a024",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        224,
        64
      ],
      "id": "a37fa389-8bf0-4917-ab7e-65565fdf1d7f",
      "name": "Respond to Webhook1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Webhook').item.json.body.entry[0].messaging[0].message.text }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        512,
        16
      ],
      "id": "2a9c214d-1398-4af9-b444-b94df807ec35",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        520,
        288
      ],
      "id": "1084c782-185d-489e-b500-e1184ff2aec9",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "QEUJqOrmivls9c38",
          "name": "ai_1"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.facebook.com/v23.0/842013002337874/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer EAAV7ekxStDkBQHzhyC4tfHQQCDsFZCzPMDm9f71o8SIoTtyfRoekTI2bj8cPbV40uZAAQztt72LNajwZCdZCrOLQh1dQyzz9UV0yIw8uEYzsVk5ZAqBDqdeoxOUOzbNew4qtpytVHNA8tqvHjMo8Lw57vMTZBvAviJn81jN0egKWCZCkvWQFIZAtZBfjOj1RuZCQ7nIMprpAZDZD"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"messaging_type\": \"RESPONSE\",\n  \"recipient\": {\n    \"id\": \"{{ $('Webhook').item.json.body.entry[0].messaging[0].sender.id }}\"\n  },\n  \"message\": {\n    \"text\": {{ JSON.stringify( $json.output) }}\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        864,
        16
      ],
      "id": "c93701eb-a098-45de-8f1d-07cdcbeb6434",
      "name": "HTTP Request"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Webhook1": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "53b80caa-e63e-43d0-a99e-eb02d7bfdbcf",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "8aa7a6b00703250dcbefcb510baac06d8bd02203b4f9c49a6f275db8e3adde34"
  },
  "id": "5qJJEXYdf7bxrVQo",
  "tags": []
}