motivational agent.json
{
  "name": "motivational agent",
  "nodes": [
    {
      "parameters": {
        "url": "https://zenquotes.io/api/random",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        224,
        0
      ],
      "id": "24570be5-b965-447a-b7db-4154467764c3",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 7
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "c7ca8598-c8d4-415e-b125-2ea9f5143964",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "chatId": "7023162452",
        "text": "=qoutes: {{ $json.q }}\nauthor:{{ $json.a }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        448,
        0
      ],
      "id": "96085acf-78ce-4762-849f-240b8b76550a",
      "name": "Send a text message",
      "webhookId": "60abbf00-2a9d-4851-b2de-37f8f16aa16b",
      "credentials": {
        "telegramApi": {
          "id": "UcgCUXLwj0h2Xemc",
          "name": "new qu"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "69e764b4-1049-4bc9-8239-173fe05b6eae",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "8aa7a6b00703250dcbefcb510baac06d8bd02203b4f9c49a6f275db8e3adde34"
  },
  "id": "OoqQgrfjpTwduj3U",
  "tags": []
}