webinar reg.json
{
  "name": "webinar reg",
  "nodes": [
    {
      "parameters": {
        "formTitle": "practice",
        "formDescription": "nai",
        "formFields": {
          "values": [
            {
              "fieldLabel": "name",
              "requiredField": true
            },
            {
              "fieldLabel": "email",
              "fieldType": "email",
              "requiredField": true
            },
            {
              "fieldLabel": "interest",
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.3,
      "position": [
        0,
        0
      ],
      "id": "313968c6-914d-4906-b446-a8e067c0939f",
      "name": "On form submission",
      "webhookId": "737d17a2-55e1-40fc-a883-2232d455c2bb"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1PYu_KNa9-KHB-_aTJ490d_cJv8OUy5vpg6G-GjJLu84",
          "mode": "list",
          "cachedResultName": "practice",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1PYu_KNa9-KHB-_aTJ490d_cJv8OUy5vpg6G-GjJLu84/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1PYu_KNa9-KHB-_aTJ490d_cJv8OUy5vpg6G-GjJLu84/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "name": "={{ $json.name }}",
            "email": "={{ $json.email }}",
            "interest": "={{ $json.interest }}",
            "submittedAt": "={{ $json.submittedAt }}",
            "formMode": "={{ $json.formMode }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "interest",
              "displayName": "interest",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "submittedAt",
              "displayName": "submittedAt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "formMode",
              "displayName": "formMode",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        208,
        0
      ],
      "id": "7a806c1b-307a-46c0-95d2-a089863ada37",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Z2tFcCPcueAT3W1y",
          "name": "Google Sheets account 622"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $json.email }}",
        "subject": "submission done",
        "emailType": "text",
        "message": "=welcome {{ $('On form submission').item.json.name }} tnx for submission stay tuned",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        416,
        0
      ],
      "id": "39eb9e67-02da-4bd7-8447-6be2ceade505",
      "name": "Send a message",
      "webhookId": "59a83ccd-60f8-420d-8bae-9b9b6d85f554",
      "credentials": {
        "gmailOAuth2": {
          "id": "zqHvTTKvfZi6vGVx",
          "name": "Gmail account 537"
        }
      }
    },
    {
      "parameters": {
        "chatId": "7023162452",
        "text": "={{ $('On form submission').item.json.email }} email sent",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        624,
        0
      ],
      "id": "b0ac2347-52ce-46de-86cc-9043c0f361fd",
      "name": "Send a text message",
      "webhookId": "6574b575-ade3-4fc9-91be-16d68197c6fc",
      "credentials": {
        "telegramApi": {
          "id": "BeQXdhFh3aECsg8b",
          "name": "Telegram account 417"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "On form submission": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "82c82be3-a139-41ac-a6fa-3b5e610763da",
  "meta": {
    "instanceId": "8aa7a6b00703250dcbefcb510baac06d8bd02203b4f9c49a6f275db8e3adde34"
  },
  "id": "nupoAYBV4eM62Bv4",
  "tags": []
}